In [ ]:
# Import the required libraries
from sklearn import linear_model
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math   # yep! going to a bit of maths later!!
from scipy import stats as st # and some stats

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test.csv
Saving train.csv to train.csv

In [ ]:
dirty_training_set = pd.read_csv('train.csv')
dirty_test_set = pd.read_csv('test.csv')

In [ ]:
dirty_training_set

        x          y
0    24.0  21.549452
1    50.0  47.464463
2    15.0  17.218656
3    38.0  36.586398
4    87.0  87.288984
..    ...        ...
695  58.0  58.595006
696  93.0  94.625094
697  82.0  88.603770
698  66.0  63.648685
699  97.0  94.975266

[700 rows x 2 columns]

In [ ]:
dirty_test_set

      x          y
0    77  79.775152
1    21  23.177279
2    22  25.609262
3    20  17.857388
4    36  41.849864
..   ..        ...
295  71  68.545888
296  46  47.334876
297  55  54.090637
298  62  63.297171
299  47  52.459467

[300 rows x 2 columns]

In [ ]:
training_set = dirty_training_set.dropna() 
test_set = dirty_test_set.dropna()

In [ ]:
print ("Rows before clean: ", dirty_training_set.size, "\n")
print ("Rows after clean: ", training_set.size, "\n")

Rows before clean:  1400

Rows after clean:  1398

In [ ]:
print (training_set.loc[0:5]['y'])
print (training_set.loc[0:5]['x'])

0    21.549452
1    47.464463
2    17.218656
3    36.586398
4    87.288984
5    32.463875
Name: y, dtype: float64
0    24.0
1    50.0
2    15.0
3    38.0
4    87.0
5    36.0
Name: x, dtype: float64

In [ ]:
x_training_set = training_set.as_matrix(['x'])
y_training_set = training_set.as_matrix(['y'])


x_test_set = test_set.as_matrix(['x'])
y_test_set = test_set.as_matrix(['y'])

AttributeError: ignored